<!--  Option 1  -->
<!--
<textarea name="" rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p>
-->

<!-- Option 2  
<textarea name="" rows="6" [(ngModel)]="enteredValue"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{ newPost }}</p>
-->

<!-- Option 3  -->
<!-- Through Section 25-->
<!-- 
<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
      <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onAddPost()">Save Post</button>
</mat-card>
-->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required 
        minlength="3" placeholder="Post Title" #title="ngModel"> 
      <!--
      <mat-error *ngIf="postForm.getControl('title').invalid">{{ }}</mat-error>
      -->
      <mat-error *ngIf="title.invalid">Please enter Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" name="content" ngModel required 
          #content="ngModel" placeholder="Post Content"></textarea>
        <mat-error *ngIf="content.invalid">Please enter Post Content</mat-error>
      </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
